<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684886339433-pp1qioue2mbldovgb696ervnnb126res.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684886339433-pp1qioue2mbldovgb696ervnnb126res</string>
	<key>API_KEY</key>
	<string>AIzaSyDv4fOL4CdzwvQnZsWYqevy7ch8Im7jQv8</string>
	<key>GCM_SENDER_ID</key>
	<string>684886339433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myfirstapp.blogapp</string>
	<key>PROJECT_ID</key>
	<string>my-project-1555053905971</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-1555053905971.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684886339433:ios:f22c6dda19129d0549d7f8</string>
	<key>DATABASE_URL</key>
	<string>https://my-project-1555053905971.firebaseio.com</string>
</dict>
</plist>